<li class=<%= participant.user_id == meeting.organizator.id ? 'organizator' : 'participant' %>>
   <%=link_to find_user(participant.user_id).name, 
      :controller => 'users', 
      :action => 'show', 
      :id => participant.user_id %>
</li> 
